<div id="welcome_message">
	<h1>Welcome, User</h1>
</div>
<div id="decks_container">

	<div class="row">
	   
		# <%= render"deck_layout"%>

	   <div class="card col s12 m3" style="border-radius: 5px; height: 300px; margin-left: 15px;">
	      	<div class="card-image valign-wrapper" style="height: 240px">
	          	<i class="material-icons" style="font-size: 100px; padding-left: 35%">add</i>       	
	        </div>
	        <div class="card-action center-align">
	          <a href="#modal1" class="modal-trigger">Add a Deck</a>
	      	</div>
	    </div>
    </div>
 
</div>
