// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.edit_card {
	max-height: 700px;
	min-height: 330px;
	border-radius: 10px;
}
